html {
    position: relative;
    min-height: 100%;
}
body {
/* Margin bottom by footer height */
margin-bottom: 60px;
}
.footer {
position: absolute;
bottom: 0;
width: 100%;
}
.bg { 
    /* The image used */
    background-image: url("../slike/bg.png");

    /* Full height */
    height: 100%; 

    background-attachment: fixed;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}